{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="192F0BE9A42D9C8DB5036713CF639E56" />
    <meta name="google-site-verification" content="5-PtLlhvPPzDcnmunydJOcMQIo8EmEoSNdp9nCeRiRU" />
    <meta name="description" content="Easily activate your UHC Medicare card online at activate.uhc.com. Follow this quick guide to begin using your UnitedHealthcare Medicare Advantage or Supplement plan." />
    <meta name="keywords" content="UHC Medicare card activation, activate UHC Medicare card, UnitedHealthcare Medicare Advantage activation, activate.uhc.com, UHC member guide, Medicare Supplement card" />
    <meta name="robots" content="index, follow" />

    {{ super() }}
{% endblock %}
